.thumbnail img
{
    width: 100%;
}

.thumbnail .caption-full
{
    padding: 9px;
}

#delete-form
{
    display: inline;
}

body
{
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* .navbar
{
    margin-bottom:0;
}
  .jumbotron 
{
    margin-bottom:0;
} */

.btn:hover
{
    transform: translate(5px,5px);
}

